* {
	outline: none;
	/*^ prevents blue boxes from appearing around slider handles in chrome*/
	touch-action: manipulation;
	/*^ disables double-click-to-zoom gesture on touch screens*/
}

._dash-undo-redo {
	display: none;
}

.rc-slider-dot {
	opacity: 0.01;
	padding: 20px;
	transform: translate(-40%, 40%);
}

.modebar {
	background-color: rgba(0,0,0,0) !important;
}

.modebar-group {	
	position: relative;
	right: 25px !important;
	top: -8px;
}

#canvasSimple {
	transform: translate(0, 10px);
	/*^ part of preventing cutoff when embedding into an iframe*/
}