.table-format {
	width: 100%;
 	padding-right: 70px;
	border: solid;
	border-color: white;
	font-size: 17px;
	font-family: "Arial", Times New Roman, serif;
	border-bottom: solid;
	border-bottom:black;
	border-bottom-width: 2.5px;
	margin: 20px auto;
}
table th {
	
	border-top: solid;
	border-bottom: solid;
	border-top-color: black;
	border-bottom-color: black;
	border-top-width: 2.5px;
	border-bottom-width: 2.5px;
	font-weight: normal;
	font-style: italic;
	text-align: center;

}
 table td {
	/*border-top: solid;*/
	width: 100%;
	border-bottom: solid;
	/*border-top-color: black;*/
	border-bottom-color: black;
	/*border-top-width: 2.5px;*/
	border-bottom-width: 2.5px;
	text-align: right;

}
 .frame {
 	padding-left: 70px;
	max-width: 1000px;
	position: relative;
	width: 100%;
	height: 450px;
	overflow: auto;
	white-space: nowrap;
 } 
