.table-format {
	border: solid;
	border-color: white;
	font-size: 18px;
	font-family: "Times New Roman", Times, serif;
	/*overflow: auto;*/
}
table th {
	/*border-top: solid;*/
	border-bottom: solid;
	/*border-top-color: black;*/
	border-bottom-color: black;
	/*border-top-width: 1.5px;*/
	border-bottom-width: 3px;
}

table td {
	/*border-top: solid;*/
	border-bottom: solid;
	/*border-top-color: black;*/
	border-bottom-color: black;
	/*border-top-width: 1.5px;*/
	border-bottom-width: 1.5px;
}

.frame {
	max-width: 800px;
	top: 0px;
	left: 0px;
	transform: translate(12%, 10%);
	overflow: auto;
	background-color: white;
	position: absolute;

}