._dash-undo-redo {
	display: none;
}

.rc-slider-dot {
	opacity: 0.01;
	padding: 20px;
	transform: translate(-40%, 40%);
}

.nsewdrag {
	stroke: darkgrey;
	stroke-width: 2px !important;
}

.modebar {
	background-color: rgba(0,0,0,0) !important;
}

.modebar-group {	
	position: relative;
	right: 25px !important;
	top: -8px;
}
